:root {
    --background: #010b21;
    --text: white;
    --accent: #ff4081;
}

@font-face{
    font-family: 'xtreem2';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(assets/xtreem2.woff2) format('woff2'),
         url(assets/xtreem2.woff) format('woff');
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Manrope', -apple-system, 'BlinkMacSystemFont', system-ui, 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
    background: var(--background);
    color: var(--text);
}

@supports not (-webkit-hyphens: none) {
    html {
        scroll-snap-stop: normal;
        scroll-snap-type: y mandatory;
    }
}

h1, h2 {
    font-family: 'xtreem2', cursive;
    font-weight: normal;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: opacity .3s;
}

a:hover {
    opacity: .8;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10vw 10vw 5vw;
    font-size: min(5vw, 25px);
    text-align: center;
    background: url("assets/photo.webp") center;
    background-size: cover;
    overflow: hidden;
    text-shadow: 0 1px black, 0 2px 5px black, 0 5px 15px black;
    box-shadow: inset 0 -400px 200px -200px var(--background);
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

@supports (-webkit-hyphens: none) {
    .header {
        background: url("assets/photo.jpg") center;
        background-size: cover;
    }
}

@media all and (max-width: 599px) {
    .header {
        padding-bottom: 20vw;
    }
}

.title {
    max-width: 600px;
    font-size: min(20vw, 80px);
    font-weight: normal;
    white-space: nowrap;
    margin: 0 auto;
    text-shadow: 0 0 5px #238fff, 0 0 10px #b745b9bd, 0 1px black, 0 2px 5px black, 0 5px 15px black;
}

.section {
    position: relative;
    min-height: calc(100vh - 15vw);
    max-width: 600px;
    margin: 0 auto;
    padding: 10vw 10vw 5vw;
    box-sizing: content-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media all and (max-width: 360px) {
    .about {
        font-size: .8em;
    }
}

.logos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.gde {
    width: 250px;
    border-radius: 50px;
    margin-left: 12px;
}

@media all and (max-width: 360px) {
    .gde {
        width: 200px;
        height: 45px;
    }
}

.links {
    font-size: 1.5em;
}

.links a {
    margin-right: .4em;
}

.links a:last-child {
    margin-right: 0;
}

.section_projects {
    max-width: none;
}

.section_projects::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10vw;
    bottom: 0;
    width: 30px;
    background: linear-gradient(to right, transparent, var(--background));
}

.projects {
    display: flex;
    overflow: auto;
    scroll-snap-stop: normal;
    scroll-snap-type: x mandatory;
    color: rgba(255, 255, 255, 0.4);
    transition: color .3s;
}

.projects:hover {
    color: rgba(255, 255, 255, 0.7);
}

.projects::-webkit-scrollbar,
.projects::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 7px solid transparent;
}

.projects::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.project {
    margin: 20px;
    width: 260px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    color: var(--text);
}

.project:last-child {
    padding-right: 100px;
    width: 360px;
}

.name {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 20px;
}

.logo_jamigo {
    margin-bottom: -20px;
}

.footer {
    padding: 20px;
    font-size: .8em;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.music {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    width: 256px;
    height: 398px;
    border: 0;
    margin-bottom: 20px;
}

th {
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    text-align: right;
    padding: 12px 16px;
}

td {
    padding: 12px 16px;
}

.work {
    margin-bottom: 3em;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-margin-top: 2em;
}

.work em {
    opacity: .7;
    font-weight: bold;
}

.employer {
    padding-bottom: 1em;
    box-shadow: inset 0 -2px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.employer img {
    border-radius: 4px;
    margin-right: 12px;
}

.tag {
    display: inline-block;
    color: var(--background);
    background: var(--accent);
    border-radius: 50px;
    padding: 4px 12px;
    font-size: .8em;
    font-weight: bold;
    margin: 4px 4px 4px 0;
    cursor: default;
}
